{{<layout}}

{{$pageTitle}}Budgeting Loans{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="#" method="#" class="form">

  <a href="template02" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Template 03
  </h1>

<div class="form-group">  
  <fieldset class="inline"> 
    <legend class="form-label-bold" for="partner">Are you sure this is your address?</legend>
   
    <label class="block-label" for="radio-inline-1">
     
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      Yes
      </label>
      <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      No
      </label>
  </fieldset>
</div>

<div class="form-group" >
    <input type="submit" class="button" value="Continue">
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}