{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="children" method="post" class="form">

  <a href="partner-yes" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Child Benefit
  </h1>

  <ul>
    <li>
      <fieldset class="inline form-group" id="children-container">
        <legend class="form-label-bold add-padding" for="children">Do you or your partner get Child Benefit?</legend>
        <div id="children-error-container"></div>
        <label class="block-label" data-target="live-with" for="children-1">
          <input id="children-1" type="radio" name="children" value="Yes"
            required
            data-parsley-errors-container="#children-error-container"
            data-parsley-class-handler="#children-container"
            data-parsley-error-message="Select ‘Yes’ or ‘No’ to confirm whether you get Child Benefit"
          >
          Yes
        </label>
        <label class="block-label" for="children-2">
          <input id="children-2" type="radio" name="children" value="No">
          No
        </label>
      </fieldset>
    </li>
  </ul>

  <div class="js-hidden panel-indent" id="live-with">
    <div class="form-group">
      <label class="form-label-bold" for="child-location">
        How many of those children live with you?
      </label>
     <div id="child-errors"></div>
      <input type="text" class="form-control-1-4" id="child-location" name="child-location" type="range" />
        <!--required=""
        data-parsley-range="[0, 30]" 
        data-parsley-errors-container="#child-errors"
        data-parsley-class-handler="#live-with"
        data-parsley-error-message="Enter the number of those children who live with you"
      >-->
    </div>
  </div>
  
  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
