{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="personal-details" method="#" class="form">

  <a href="money-you-owe" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Debt repayment details
  </h1>

 <fieldset class="inline form-group" id="repay-2-container">
    <legend class="form-label-bold" for="debt">Are you making any other debt repayments?</legend>
    <div id="repay-2-error-container"> </div>
    <label class="block-label" data-target="money-owed01" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="debt" value="Yes"
        required=""
        data-parsley-errors-container="#repay-2-error-container"
        data-parsley-class-handler="#repay-2-container"
        data-parsley-error-message="Select ‘Yes’ or ‘No’ to confirm whether you have a partner"
      >
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="debt" value="No">
      No
    </label>
  </fieldset>

  <div class="panel-indent js-hidden" id="money-owed01">
    <div class="form-group" id="money-owed01-container">
      <label class="form-label-bold" for="who01">Who do you make the repayment to?</label>
      <div id="money-owed01-error-container"></div>
      <input class="form-control" id="who01" type="text"
        required
        data-parsley-errors-container="#money-owed01-error-container"
        data-parsley-class-handler="#money-owed01-container"
        data-parsley-error-message="Enter the name of the organisation you make repayments to">
    </div>

    <div class="form-group" id="regpay01-conatiner">
      <label class="form-label-bold" for="regpay01">How much are your repayments?</label>
      <div id="regpay01-error-container"> </div>
      <input class="form-control" id="regpay01" type="text"
        required
          data-parsley-errors-container="#regpay01-error-container"
          data-parsley-class-handler="#regpay01-container"
          data-parsley-error-message="Enter the amount of your regular repayments">
    </div>

    <fieldset class="form-group" id="repay-3-conatainer">
      <legend class="form-label-bold">How often do you make repayments?</legend>
      <div id="repay-3-error-container"> </div>
      <label class="block-label" for="weekly1">
        <input id="weekly1" type="radio" name="frequency" value="Weekly"
          required
          data-parsley-errors-container="#repay-3-error-container"
          data-parsley-class-handler="#repay-3-container"
          data-parsley-error-message="Select ‘Weekly’, ‘Fortnightly’ or ‘Monthly’ to confirm how often you make repayment">
        Weekly
      </label>
      <label class="block-label"for="fortnightly1">
        <input id="fortnightly1" type="radio" name="frequency" value="No">
        Fortnightly
      </label>
      <label class="block-label"for="monthly1">
        <input id="monthly1" type="radio" name="frequency" value="No">
        Monthly
      </label>
    </fieldset>

    <div class="form-group" id="total01-container">
      <label class="form-label-bold" for="total01">How much do you owe on this debt in total?</label>
      <div id="total01-error-container"> </div>
      <input class="form-control" id="total01" type="text"
        required
        data-parsley-errors-container="#total01-error-container"
        data-parsley-class-handler="#rtotal01-container"
        data-parsley-error-message="Enter the total amount you owe"
      >
    </div>
  </div>
    

  <div class="form-group">
    <input type="submit" class="button" value="Continue"> 
  </div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}

