{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="money-you-owe" method="#" class="form">

      <a href="children" class="example-back-link">Back</a>

      <h1 class="form-title heading-large">
        Loan amount
      </h1>

      <p>You can apply for an amount between £100 and £464.</p>

      

      <ul>
        <li class="form-group" id="amount-container">

          <label class="form-label-bold" for="loan-amount">How much do you need?</label>
          <div id="amount-error-container"></div>
          <span>£ </span> <input class="form-control-1-8" id="partner-nino" type="text"
          required=""
          type="range" data-parsley-range="[100, 464]" data-parsley-errors-container="#amount-error-container"
          data-parsley-class-handler="#amount-container"
          data-parsley-error-message="Enter an amount between £100 and £464">
        </li>
      </ul>
      
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
