{% extends "layout.html" %}

{% block page_title %}
  Amount to borrow - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {# Back link #}
        {% import "includes/back-link.html" as back %}
        {{ back.url('#') }}
      {# Back link #}

      <h1 class="heading-large m-b-ml m-t-m">
        The applicant must provide written consent to XXX before you can proceed
      </h1>

      <h2 class="heading-medium ">How to get consent</h2>

      <p>Details on how to get consent here.</p>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}