{% extends "layout_unbranded.html" %}

{% block page_title %}
  Validation styles
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Validation styles
  </h1>

  <p>The examples below are to be used as a reference for content and visual styling (not code).</p>

  <hr>

  <ul class="list list-bullet">
    <li><a href="/validation-styles/current-benefits-1">Current benefits 1</a></li>
    <li><a href="/validation-styles/current-benefits-2">Current benefits 2</a></li>
    <li><a href="/validation-styles/industrial-action">Industrial action</a></li>
    <li><a href="/validation-styles/loan-amount">Loan amount</a></li>
    <li><a href="/validation-styles/outstanding-social-fund-loans">Outstanding social fund loans</a></li>
    <li><a href="/validation-styles/about-you">About you</a></li>
    <li><a href="/validation-styles/your-contact-details">Your contact details</a></li>
    <li><a href="/validation-styles/debt-repayments-detail">Debt repayments detail</a></li>
  </ul>

</main>

{% endblock %}