// Styles for non gov pages

dl.hypo {
  background-color: #ffffcc;
  padding: 20px;
  padding-bottom: 1px;
  margin-bottom: 1em;

  dt {
    font-weight: bold;
    float: left;
    clear: both;
    margin-right: 0.5em;
  }

  dd {
    margin-bottom: 1em;
  }

}

hr {
  clear: both
}