{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}

  <form action="#" class="form">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h1 class="form-title heading-large">You are not eligible for a Budgeting Loan</h1>
            
         <!--<p>The answers you have provided mean you are not eligible for a Budgeting Loan.</p>
          -->
         
          <div class="application-notice help-notice">
            <p>The answers you have provided mean that you do not meet the eligibility to apply for a Budgeting Loan</p>
          </div> 

          <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

     <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
      You must meet be receiving Income Support, Pension Credit, income-based Jobseeker's Allowance or income-related Employment and Support Allowance for the past 6 months to be eligible to apply for a Budgeting Loan
    </h1> 

    <p>
      <p><a href="https://www.gov.uk/find-your-local-council">Contact your local council</a> for information about emergency loans.</p>
    </p>

  </div> 


          <!--<ul class="list-bullet">
            <li>you are not on a qualfying benefit</li>
            <li>you have not been on a qualifying benefit for over 6 motnhs</li>
            
          </ul> 
          

          <h2 class="heading-medium">You can only apply for a Budgeting Loan if you meet the eligiblity.</h2> -->
          
          

         <!-- <div class="form-group">
            <input type="submit" class="button" value="I agree - send my application">
          </div> -->

        </div>

        <div class="column-third">
          <p>&nbsp;</p>
        </div>

      </div>

  </form>
      
</main><!-- / #page-container -->
{{/content}}

{{/layout}}
