{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/beta-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">How it works</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">What you'll get</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. How it works</h1>
		    </header>
			<article>
				<p>You can apply for a Budgeting Loan to help pay for;</p>

				<ul class="list-bullet">
					<li>furniture or household equipment</li>
					<li>clothing or footwear</li>
					<li>rent in advance if you find a new place to live</li>
					<li>removal expenses when you move home</li>
					<li>travelling expenses</li>
					<li>things to help you look for or start work</li>
					<li>improving, maintaining or securing your home</li>
					<li>maternity or funeral expenses</li>
					<li>repaying hire purchases or ther debts you took out to pay for any of the above</li>
				</ul>

				<p>A Budgeting Loan is interest-free so you only pay back what you borrow. The smallest amount you can borrow is £100. Loans are usually paid <a href="https://www.gov.uk/how-to-have-your-benefits-paid">into your account</a>, eg a bank account.</p>

				<p>You normally have to repay the loan within 104 weeks. The repayments will come from your benefits. You'll have tp agree another way to repay if you stop getting benefits.</p>

				<p>If you get Universal Credit, apply for a Budgeting Advance from your loacal jobcentre Plus instead</p>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="what-youll-get" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Eligibility</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
