{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}

  <form action="what-happens-next" method="#" class="form">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h1 class="form-title heading-large">Declaration</h1>
            
          <p>By sending this application you agree:</p>

          <ul class="list-bullet">
            <li>the information in this application is complete and correct as far as you know</li>
            <li>to report any changes to your circumstances promptly</li>
            <li>that you'll use the loan for one of the qualifying reasons</li>
          </ul>
          <details style="margin-bottom: 1em;">
            <summary><span class="summary">See the qualifying reasons for a loan</span></summary>
            <div class="panel-indent">
              <ul class="list-bullet">
                <li>furniture or household items</li>
                <li>clothing or footwear</li>
                <li>rent in advance</li>
                <li>costs linked to moving house</li>
                <li>maintenance, security or improvements to your home</li>
                <li>travelling costs within the UK</li>
                <li>costs linked to getting a new job</li>
                <li>maternity costs</li>
                <li>funeral costs</li>
                <li>repaying hire purchase loans</li>
                <li>repaying loans taken for the above items</li>
              </ul>
            </div>
          </details>

          <div class="application-notice help-notice">
            <p>Your benefit may be stopped if you deliberately give wrong information that would affect your claim, or don't report changes promptly.</p>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="I agree - send my application">
          </div>

        </div>

        <div class="column-third">
          <p>&nbsp;</p>
        </div>

      </div>

  </form>
      
</main><!-- / #page-container -->
{{/content}}

{{/layout}}
