{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="partner" method="#" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a href="industrial-action" class="example-back-link">Back</a>

        <h1 class="form-title heading-large">You're eligible for a Budgeting Loan</h1>

        

        <p>Before you apply make sure you have details about your regular debt repayments (such as hire purchases and loans, but not normal living expenses like gas and electric charges or food bills).</p>      

        <p class="get-started">
          <a class="button button-get-started" href="partner">Apply now</a>
        </p>
      </div>

      <div class="column-third">
          <p>&nbsp;</p>
      </div>

    </div>
  </form>  

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
