{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}

  <form action="#" class="form">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h1 class="form-title heading-large">You need more information to check your eligibility</h1>
          <p>Contact <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> to find out to find out what type of benefit you or your partner get.</p>

          <h2 class="form-title heading-medium">If you made a mistake</h2>
          <p>Make sure you have the correct information and check your<a href="overview"> eligibility again.</a></p>

        </div>

        <div class="column-third">
          <p>&nbsp;</p>
        </div>

      </div>

  </form>
      
</main><!-- / #page-container -->
{{/content}}

{{/layout}}
