{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="what-happens-next" method="#" class="form">

      <div class="highlighted-event">
        <em>Your application has been sent</em>
        <p>Your reference is</p>
        <em>B23456C</em>
      </div>

      <h1 class="heading-medium">What happens next</h1>

      <p>We will book an appointment for a meeting with you at your local Jobcentre within the next 24 hours (Monday to Friday only).</p>
      <p>We will call you soon on the contact number you gave in the application to confirm the date and time with you.</p>
      <p>Bring the following with you:</p>
      <ul class="list-bullet">
        <li>proof of identity, eg passport or drivers license</li>
        <li>bank statements for all of your accounts</li>
        <li>details of any medication that you are taking</li>
      </ul>
      <p>If you, your partner or someone you care for is pregnant, bring a maternity certificate from their doctor.</p>
      <p><a href="overview" class="button">Finish</a></p>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
