{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="what-happens-next" method="#" class="form">

      <div class="highlighted-event">
        <em>Your application has been sent</em>
        <p>Your reference is</p>
        <em>B23456C</em>
      </div>

      <h1 class="heading-medium">What happens next</h1>

      <p>We will contact you by letter within 6 working days with the decision of you Bugeting Loan applicantion.</p>
      <p>If you are successful in your application your loan will be paid into the same bank account that your benefit is paid into.</p>
      <p><a href="overview" class="button">Finish</a></p>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
