{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="what-happens-next" method="#" class="form">

      <div class="highlighted-event">
        <em>Your application has been sent</em>
        <p>Your reference is</p>
        <em>B23456C</em>
      </div>

      <h1 class="heading-medium">What happens next</h1>

      <!--p>We will contact you by letter within 6 working days with the decision of you Bugeting Loan applicantion.</p>
      <p>If you are successful in your application your loan will be paid into the same bank account that your benefit is paid into.</p-->

      <p>It can take up to a week to make a decision on an application.</p>
      <p>If you have given a mobile number a text will be sent to you to let you know when we are dealing with your application. </p>
      <p>Please do not contact us unless you have not received a text after a week. </p>
      <p>Once we have made a decision we will notify you by letter and if you qualify we will make and offer at the same time.</p>
      <p>A loan offer will tell you:</p>

      <ul class="list-bullet">
        <li>The loan amount</li>
        <li>How much you will have to pay back from your benefit each week</li>
        <li>How many weeks it will take to repay the loan</li>
        <li>What to do if you want to accept the offer</li>
      </ul>
      <p><a href="overview" class="button">Finish</a></p>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
