{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">V3 screens</h1>

  <ul class="list list-bullet">
    <li><a href="/sandpit/debt-repayments/v3/savings">Flow</a></li>
    <li><a href="/sandpit/debt-repayments/v3/credit-store-cards">Credit and store cards</a></li>
    <li><a href="/sandpit/debt-repayments/v3/loans">Loans</a></li>
    <li><a href="/sandpit/debt-repayments/v3/mobile-phone-contract">Mobile phone</a></li>
    <li><a href="/sandpit/debt-repayments/v3/rent-to-own">Rent to own</a></li>
  </ul>

</main>

{% endblock %}