{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <form action="#" class="form">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h1 class="form-title heading-large">You're not eligible for a Budgeting Loan</h1>
            
         
          
          <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

           <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">You must not owe the Social Fund more than £1,500</h1>
            
    <p>
      <p><a href="https://www.gov.uk/contact-jobcentre-plus">Contact Jobcentre Plus</a> to find out how much you owe the Social Fund.</p>
    </p>

  </div> 


        </div>

        <div class="column-third">
          <p>&nbsp;</p>
        </div>

      </div>

  </form>
      
</main><!-- / #page-container -->
{% endblock %}
