{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}

  <form action="#" class="form">

      <div class="grid-row">

        <div class="column-two-thirds">

          <h1 class="form-title heading-large">You are not eligible for a Budgeting Loan</h1>
            
         
          
          <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

           <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">You must not be involved in industrial action (eg a strike, walk-out or lock-out)</h1>
            
            <p><a href="https://www.gov.uk/find-your-local-council">Contact your local council</a> for information about emergency loans.</p>
          </div> 


        </div>

        <div class="column-third">
          <p>&nbsp;</p>
        </div>

      </div>

  </form>
      
</main><!-- / #page-container -->
{{/content}}

{{/layout}}