

{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
     
  <form action="industrial-action" method="post" class="form">

    <div class="grid-row"> 
      <div class="column-two-thirds">
          <a href="social-fund-debt" class="example-back-link">Back</a>

          <h1 class="form-title heading-large">Check your eligiblity</h1>
          <ul>
            <li>
              <fieldset class="inline form-group" id="industrial-action-container">
               <div>
                  <h1 class="form-title heading-medium"><legend for="industrial-action">Are you involved in industrial action?</legend>
                  </h1>  
                  <p>eg a strike, walk-out or lock-out</p>
               </div>
                <label class="block-label" data-target="industrial-action-yes" for="industrial-action-1">
                  <input id="industrial-action-1" type="radio" name="industrialaction" value="Yes"
                    required
                    data-parsley-errors-container="industrial-action-container"
                    data-parsley-class-handler="#industrial-action-container"
                    data-parsley-error-message="Select 'Yes' or 'No' to confirm whether you're involved in industrial action"
                  >
                  Yes
                </label>
                <label class="block-label" for="industrial-action-2">
                  <input id="industrial-action-2" type="radio" name="industrialaction" value="No">
                  No
                </label>
                
              </fieldset>
            </li>
          </ul>
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
          
        </form>
      </div>

      <div class="column-third">
            <p>&nbsp;</p>
      </div>
    </div>
  </form> 
</main><!-- / #page-container -->
{{/content}}

{{/layout}}
