{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/beta-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">How it works</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">What you could get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">Check your eligibility</a>
							</li>
							<!-- <li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li> -->
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">2. What you could get</h1>
		    </header>
			<article>
				<p>You can get up to:</p>
				<ul class="list-bullet">
					<li>£348 if you're single</li>
					<li>£464 if you're part of a couple</li>
					<li>£812 if you have children</li>
				</ul>
				<p>How much you can get depends on if you:</p>
				<ul class="list-bullet">
					<li>can pay the loan back</li>
					<li>have savings of more than £1,000 (£2,000 if you or your partner are over 61)</li>
					<li>owe money to the Social Fund through a Budgeting Loan or Crisis Loan</li>
				</ul>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      						<a href="overview" rel="prev" title="Navigate to previous part">
      							<span class="pagination-label">Previous </span> <span class="pagination-part-title"> How it works</span>
      						</a>          
      					</li>
          				<li class="next">
            				<a href="eligibility" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Check your eligibility</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
