{% extends "layout_unbranded.html" %}

{% block page_title %}
  Budgeting Loans &ndash; design review
{% endblock %}

{% block content %}

<main id="content" role="main" class="index-page">

  <h1 class="heading-xlarge">
    Budgeting Loans &ndash; design review
  </h1>

  <ul>
    <li>Service tested: <a href="https://budgeting-loans-dev.itsbeta.net/">https://budgeting-loans-dev.itsbeta.net/</a></li>
    <li>12 April 2016</li>
  </ul>

  <hr />

  <h2 class="large">
    Suggested updates
  </h2>

  <p>
     The pages below have been realigned with updated designs. This review mainly focuses on tidying up the layouts and bringing the styling inline with the current GDS and DWP conventions.
  </p>

  <p class="alert">
    You can find accompanying notes in <a href="https://docs.google.com/document/d/1ZZds_6esLdvt0NBlK3vd5LYAGbc7jkV7NFJNVXm-_xY/edit?usp=sharing" target="_blank">this Google document</a>
  </p>
  
  <ol class="list list-number">

    <li>
      <h3>
      <a href="/design-review/screens/start-eligibility">
          Start page (3. Eligibility)
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/start-eligibility.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/start-eligibility.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/outstanding-social-fund-loans">
          Outstanding Social Fund loans &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/outstanding-crisis-loans-and-budgeting-loans.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/outstanding-crisis-loans-and-budgeting-loans.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/current-benefits">
          Current benefits &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/current-benefits.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/current-benefits.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/pension-credit">
          Pension credit &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li>N/A</li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/industrial-action">
          Industrial action &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/industrial-action.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/industrial-action.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/you-are-eligible">
          You&rsquo;re eligible &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/you-are-eligible.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/you-are-eligible.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/child-benefit">
          Child Benefit &ndash; Eligibility
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/child-benefit.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/child-benefit.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/about-you">
          About you
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/about-you.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/about-you.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/about-your-partner">
          About your partner
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/about-your-partner.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/about-your-partner.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/your-contact-details">
          Your contact details
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/your-contact-details.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/your-contact-details.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/debt-repayments">
          Debt repayments
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/debt-repayments.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/debt-repayments.png">Mobile</a></li>
        </ul>
    </li>

    <li>
      <h3>
      <a href="/design-review/screens/not-eligible">
          Not eligible
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/not-eligible.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/not-eligible.png">Mobile</a></li>
        </ul>
    </li>

{#     <li>
      <h3>
      <a href="/design-review/screens/error-example-2">
          Error message &ndash; Same page example
      </a>
      </h3>
      <h4>Current screenshots:</h4>
        <ul>
          <li><a href="/public/images/screenshots/desktop/error-example-2.png">Desktop</a></li>
          <li><a href="/public/images/screenshots/mobile/error-example-2.png">Mobile</a></li>
        </ul>
    </li> #}

  </ol>

</main>

{% endblock %}