{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="money-you-owe" method="post" class="form">

    <div class="grid-row">

      <div class="column-two-thirds">

        <a href="javascript:history.go(-1)" class="example-back-link">Back</a>

        <h1 class="form-title heading-large">Are you making regular debt repayments?</h1>
    
        <div class="form-group">
          <fieldset class="inline">
            
            <p>This includes hire purchases and loans. Don't include normal living expenses like gas and electric charges of food bills. This information will help work out your Budgeting Loan repayment amounts.</p>

            <label class="block-label" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="partner" value="Yes">
              Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="partner" value="No">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </div>

      <div class="column-third">
        <p>&nbsp;</p>
      </div>

    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}