{% extends "layout.html" %}

{% block page_title %}
  Rental purchases - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {# Back link #}
        {% import "includes/back-link.html" as back %}
        {{ back.url('repayments-loans') }}
      {# Back link #}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-ml">
        Do you have any rental purchases? (Also known as rent-to-own)
        </h1>

        <p>Include any items such as furniture, consumer electronics, motor vehicles with the option to purchase at some point during the agreement.</p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">
              Do you have any rental purchases? (Also known as rent-to-own)
            </legend>

            <label class="block-label" for="radio-home-address" data-target="debt-details">
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              Yes
            </label>

            <label class="block-label" for="radio-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              No
            </label>

            <div class="panel panel-border-narrow js-hidden" id="debt-details">

              <div class="form-group m-b-ml">
                <label class="form-label m-b-xs" for="regpay01">How much do you pay back each month?</label>
                <div class="u-1/4-lap-and-up">
                  <span class="c-form-input-denote">&pound;</span>
                  <input class="c-form-input-denote__input form-control form-control-1-4" id="regpay01" type="text" name="regpay01" value="">
                </div>
              </div>

              <div class="form-group m-b-ml">
                <label class="form-label m-b-xs" for="total01">What&rsquo;s the total left to pay?</label>
                <div class="u-1/4-lap-and-up">
                  <span class="c-form-input-denote">&pound;</span>
                  <input class="c-form-input-denote__input form-control form-control-1-4" id="total01" type="text" name="total01" value="">
                </div>
              </div>

            </div>{# /debt-details #}

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>{# / form-group #}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}