{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Current benefits</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We provide a brief description of the differences between contribution-based and income-based ESA (and JSA)</dd>
    <dt>Then:</dt>
    <dd>More users will be able to complete this question</dd>
    <dt>Because:</dt>
    <dd>They will know which type of benefit they are claiming</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/current-benefits-question/v1/current-benefits">Version 1</a></li>
    <li><a href="/sandpit/current-benefits-question/v2/current-benefits">Version 2</a></li>
  </ul>

</main>

{% endblock %}