{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">Debt repayments</h1>

  <ul class="list list-bullet">
    <li><a href="/sandpit/debt-repayments/v1">Version 1</a></li>
    <li><a href="/sandpit/debt-repayments/v2">Version 2</a></li>
    <li><a href="/sandpit/debt-repayments/v3">Version 3 (worth exploring)</a></li>
    <li><a href="/sandpit/debt-repayments/v4/">Version 4 (probably not worth exploring)</a></li>
  </ul>

</main>

{% endblock %}