{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="money-you-owe" method="post" class="form">

  <a href="loan-amount" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Regular debt repayments
  </h1>
   <p>We ask this to work out your Budgeting Loan repayment amounts.</p>
  <div class="form-group">
    <fieldset class="inline">
      <legend class="form-label-bold" for="partner">Are you or your partner making regular debt repayments? </legend>
      <p class="form-hint">This includes debts such as hire purchase agreements, loans, or if you got behind on your rent or household bills</p>
      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="partner" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="partner" value="No">
        No
      </label>
    </fieldset>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>

</form>
</main><!-- / #page-container -->
{% endblock %}
