{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="children-no-partner" method="#" class="form">

  <a href="partner" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    About a previous partner
  </h1>

  <fieldset class="inline form-group">
    <legend class="form-label-bold" for="partner">Have you had a partner in the last 6 months?</legend>
    <p class="form-hint">A partner is a person you are married to or a person you live with as if you are married to them.</p>
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="partner" value="Yes">
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="partner" value="No">
      No
    </label>
  </fieldset>

  <div class="form-group" id="partner-yes01">
    <input type="submit" class="button" value="Continue">
  </div>

</main><!-- / #page-container -->
{% endblock %}
