{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="what-happens-next" method="#" class="form">

      <div class="highlighted-event">
        <em>Your application has been received</em>
      </div>

      <h1 class="heading-medium">What happens next</h1>

      <p>You’ll get a decision by post within 10 days.</p>
      <p>If you’re offered a loan you'll be told:</p>
      <ul class="list-bullet">
        <li>how much you can borrow</li>
        <li>how much your weekly repayments will be</li>
        <li>how long it will take to repay</li>
      </ul>
        <p>You don't have to accept a loan offer if you don't want to.</p>

      <p><a href="overview" class="button">Finish</a></p>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{% endblock %}
