{% extends "layout_unbranded.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Loan offer version 2
  </h1>

  <ul class="list list-bullet">
    <li><a href="loan-offer">Loan offer</a></li>
    <li><a href="loan-offer-accept">Loan offer - accept</a></li>
    <li><a href="loan-offer-reject">Loan offer - reject</a></li>
    <li><a href="loan-offer-nil-decision">Nil decision</a></li>
  </ul>

</main>

{% endblock %}