{% extends "layout_unbranded.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">
    Loan offer version 2
  </h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We provide the loan offer online with the ability to accept or reject</dd>
    <dt>Then:</dt>
    <dd>Users who&rsquo;ve chosen to apply online would expect to receive an offer this way</dd>
    <dt>Because:</dt>
    <dd>It&rsquo;s the same channel they applied through</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="loan-offer-partial">Loan offer (partial)</a></li>
    <li><a href="loan-offer-accept-partial">Loan offer (partial) - accept</a></li>
    <li><a href="loan-offer-reject-partial">Loan offer (partial) - reject</a></li>
    <li><a href="loan-offer-full">Loan offer (full)</a></li>
    <li><a href="loan-offer-accept-full">Loan offer (full) - accept</a></li>
    <li><a href="loan-offer-reject-full">Loan offer (full) - reject</a></li>
    <li><a href="loan-offer-nil-decision">Nil decision</a></li>
  </ul>

</main>

{% endblock %}