{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="govuk-box-highlight m-b-l" style="padding: 20px">
        <p class="m-b-m"><strong class="heading-medium">You&rsquo;re eligible for a budgeting loan of</strong></p>
        <h1 class="bold-xxlarge m-b-xs">£500</h1>
        <p class="m-b-xs"><strong class="heading-small">The amount you would repay each week is £8.77. This would be deducted from your Jobseeker&rsquo;s Allowance.</strong></p>
      </div>

      <p>Dear Jane Smith,</p>

      <p>On 25 March 2016 you applied for a Budgeting Loan of £500. After reviewing your application, we&rsquo;re able to offer you the full £500.</p>

      <details style="margin-bottom: 1em;">

        <summary><span class="summary">How this amount is calculated</span></summary>

        <div class="panel-indent">
          <ul class="list list-bullet">
            <li>the amount you owe the Social Fund</li>
            <li>regular debt repayments</li>
            <li>how much you can afford to pay each week</li>
          </ul>
        </div>

      </details>

      <p>If you choose to accept this offer, you would repay the loan at a rate of £8.77 per week. This payment will be automatically deducted from your Jobseeker&rsquo;s Allowance, so your re-calculated benefit will be paid at £62.20 per week for the next 57 weeks.</p>

      <form method="post" class="form m-t-nl">

        <fieldset class="inline m-b-m">

          <h3 class="heading-medium m-b-m">Do you want to accept this offer?</h3>
          <label class="block-label" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="choice" value="yes" >
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="choice" value="no" >
            No
          </label>

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>{# / form-group #}

      </form>

    </div>

  </div>

</main>

{% endblock %}