{% extends "layout.html" %}

{% block page_title %}
    Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="notice polite" style="background-color: #267cae; color: #fff">
        <h1 class="bold-medium m-t-s m-b-xs" style="text-align: center">
          Budgeting Loan application unsuccessful
        </h1>
      </div>

      <h1 class="heading-large">Your application</h1>

      <p>Dear Jane Smith,</p>

      <p>On 25 March 2016 you applied for a Budgeting Loan of £500. After reviewing your application, we&rsquo;re unable to offer you a Budgeting Loan at this time.</p>

      <p>The reason that your application has been unsuccessful is because you or your partner don&rsquo;t fully meet the full 4 eligibility points below:</p>

      <ul class="list list-bullet">
        <li>you must not owe the Social Fund more than £1,500 for Crisis Loans and Budgeting Loans</li>
        <li>you must have been getting Income Support, income-based Jobseeker&rsquo;s Allowance, income-related Employment and Support Allowance or Pension Credit for the past 6 months (and you must still be getting one of these benefits when you apply)</li>
        <li>you must need £100 or more</li>
        <li>you must not be involved in industrial action (eg a strike, walkout or lockout)</li>
      </ul>

      <h2 class="heading-medium">If you&rsquo;re unhappy with this decision</h2>
      <p>You can ask for a Budgeting Loan decision to be reviewed. To do this, you must write to Jobcentre Plus before 22 April 2016, explaining why you think it was wrong.</p>

      <p><a href="http://los.direct.gov.uk/default.aspx?type=1&amp;lang=en" rel="external">Find your nearest Jobcentre Plus</a></p>

      <p>If you still think the decision was wrong after the review, you can ask for a further review by the office of the <a href="https://www.gov.uk/government/publications/budgeting-loans-how-to-ask-for-a-further-independent-review">Independent Case Examiner</a>. This review should take no longer than 21 working days.</p>

      <h2 class="heading-medium">Other help you can get</h1>

      <p>You may be able to get other kinds of support, including:</p>

      <ul class="list list-bullet">
        <li>help from <a href="/find-your-local-council">your local council</a> and <a href="/contact-jobcentre-plus">Jobcentre Plus</a></li>
        <li>the <a rel="external" href="http://www.moneymadeclearwales.org/home.php?page_id=60">Discretionary Assistance Fund in Wales</a></li>
        <li>a Crisis Loan or Community Care Grant in <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/money-tax-and-benefits/benefits-and-financial-support/on-a-low-income-1/help-from-the-social-fund.htm">Northern Ireland</a> or <a rel="external" href="http://www.gov.scot/Topics/People/fairerscotland/scottishwelfarefund">Scotland</a>
        </li>
      </ul>

    </div>

  </div>

</main>

{% endblock %}