{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">You&rsquo;ve rejected a Budgeting Loan offer of £348</h1>

      <h2 class="heading-medium">Your right to ask for a review</h2>

      <p>You can ask for a Budgeting Loan decision to be reviewed if you&rsquo;re not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong.</p>

      <p><a href="http://los.direct.gov.uk/default.aspx?type=1&amp;lang=en" rel="external">Find your nearest Jobcentre Plus</a></p>

      <h2 class="heading-medium">Other help you can get</h1>

      <p>You may be able to get other kinds of support, including:</p>

      <ul class="list list-bullet">
        <li>help from <a href="/find-your-local-council">your local council</a> and <a href="/contact-jobcentre-plus">Jobcentre Plus</a></li>
        <li>the <a rel="external" href="http://www.moneymadeclearwales.org/home.php?page_id=60">Discretionary Assistance Fund in Wales</a></li>
        <li>a Crisis Loan or Community Care Grant in <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/money-tax-and-benefits/benefits-and-financial-support/on-a-low-income-1/help-from-the-social-fund.htm">Northern Ireland</a> or <a rel="external" href="http://www.gov.scot/Topics/People/fairerscotland/scottishwelfarefund">Scotland</a>
        </li>
      </ul>

      <p>You can no longer get a Crisis Loan or Community Care Grant in England or Wales.</p>

      <p>
        <a href="https://www.gov.uk/" class="button">Finish</a>
      </p>

    </div>

  </div>

</main>

{% endblock %}