{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="govuk-box-highlight m-b-l">
        <h1 class="bold-large m-b-m">You&rsquo;ve accepted the offer and will receive your Budgeting Loan</h1>
        <p style="padding: 0 15px;"><strong class="heading-small">A payment of £348 will be made into your account within the next&nbsp;XXX&nbsp;days</strong></p>
      </div>

      <h2 class="bold-medium m-b-m"></h2>

      <p>We have sent you a confirmation email.</p>

      <h2 class="bold-medium m-b-m">What happens next</h2>

      <ul class="list list-bullet">
        <li>you will pay the loan back at £6.08 per week for the next 57 weeks</li>
        <li>your Jobseeker&rsquo;s Allowance benefit payments will be £66.30 during this 57 week period</li>
        <li>if your circumstances change you must inform <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> immediately</li>
        <li>if you stop claiming benefits you will still have to repay this loan</li>
      </ul>

      <p><a href="https://www.gov.uk/options-for-paying-off-your-debts">Help and advice on repaying debts</a></p>

      <p><a href="https://www.gov.uk/" class="button">Finish</a></p>

    </div>

  </div>

</main>

{% endblock %}