{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">You&rsquo;ve rejected a Budgeting Loan offer of £348</h1>

      <h2 class="heading-medium">Your right to ask for a review</h2>

      <p>You can ask for a Budgeting Loan decision to be reviewed if you&rsquo;re not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong.</p>

      <p><a href="http://los.direct.gov.uk/default.aspx?type=1&amp;lang=en" rel="external">Find your nearest Jobcentre Plus</a></p>

      <p>
        <a href="https://www.gov.uk/" class="button">Finish</a>
      </p>

    </div>

  </div>

</main>

{% endblock %}