{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Pagination</h1>

  <h2 class="heading-medium">
    Improving the accessibility of the pagination links with more explicit titles
  </h1>

  <ul class="list list-bullet">
    <li><a href="start-overview">Page 1</a></li>
    <li><a href="start-what-you-could-get">Page 2</a></li>
    <li><a href="start-eligibility">Page 3</a></li>
  </ul>

</main>

{% endblock %}