{% extends "layout_unbranded.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">
    Loan offer version 1
  </h1>

  <ul class="list list-bullet">
    <li><a href="loan-offer">Loan offer</a></li>
    <li><a href="partial-loan-offer">Partial loan offer</a></li>
    <li><a href="loan-offer-accept">Loan offer - accept</a></li>
    <li><a href="loan-offer-reject">Loan offer - reject</a></li>
    <li><a href="partial-loan-offer-accept">Partial loan offer - accept</a></li>
    <li><a href="partial-loan-offer-reject">Partial loan offer - reject</a></li>
    <li><a href="loan-offer-nil-decision">Nil decision</a></li>
    <!-- <li><a href="what-happens-next-offer">What happens next</a></li> -->
  </ul>

</main>

{% endblock %}