
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="notice polite">
    <h1 class="heading-xlarge">
      You cannot be offered a Budgeting Loan at this time
    </h1>
  </div>

  <p>Dear XXXXXX</p>
  
  <p>on 25/12/15 you applied for a £500 Budgeting Loan, we cannot offer you this loan.</p>

  <p>The reason your application hasn't been successful is because you or your partner haven't met the 4 eligility criteria below;</p>

  <ul class="list-bullet">
    <li>you must not owe the Social Fund more than £1,500 for Crisis Loans and Budgeting Loans</li>
    <li>you must have been getting Income Support, income-based Jobseeker's Allowance, income-related Employment and Support Allowance or Pension Credit for the past 6 months (and you must still be getting one of these benefits when you apply)</li>
    <li>you must need more than £100</li>
    <li>you must not be involved in industrial action (eg a strike, walkout or lockout)</li>
  </ul>

  <h3 class="heading-medium">If you&rsquo;re unhappy with this decision</h3>
  <p>You can ask for a Budgeting Loan decision to be reviewed if you&rsquo;re not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong. </p>

  <p>If you still think the decision was wrong after the review, you can ask for a further review by the office of the <a href="https://www.gov.uk/government/publications/budgeting-loans-how-to-ask-for-a-further-independent-review">Independent Case Examiner</a>. This review should take no longer than 21 working days.</p>
 
 <!-- <div class="form-group">
    <input class="button" type="submit" value="Finish">
  </div>{# / form-group #} -->

</main>

{% endblock %}
  

  
  

