
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="notice polite">
    <h1 class="heading-xlarge">
      You cannot be offered a Budgeting Loan at this time
    </h1>
  </div>

  <p>Dear XXXXXX</p>
  <p>on 25/12/15 you applied for a £500 Budgeting Loan, we cannot offer you this loan.</p>
  <p>Your applicatin has been rejeceted because</p>
  <ul class="list-bullet">
    <li>you owe the Social Fund too much</li>
    <li>your regular debt payments mean you cannot afford to repay this loan</li>
    <li>your re-calculated benefit means you will not have enough money to live on</li>
 </ul>
 <h3 class="heading-medium">If you’re unhappy with this decision</h3>
  <p>You can ask for a Budgeting Loan decision to be reviewed if you’re not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong. </p>
 
  <div class="form-group">
    <input class="button" type="submit" value="Continue">
  </div>{# / form-group #}

</main>

{% endblock %}
  

  
  

