 
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="notice polite">
    <h1 class="heading-xlarge">Offer accepted</h1>
  </div>  
  <h3 class="heading-medium">You accepted a Budgeting Loan offer of £348 on 01/01/16<br>
  You will pay the loan back at £6.08 per week for the next 57 weeks<br>
  Your re-calculated Jobseekers Allowance will be £66.30</h3>

   <p>If your circumstamces change you must inform <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> immediately</p>
   <p>If you stop claiming benefits you will still have to repay this loan</p>

   <p>Debt repayment <a href="https://www.gov.uk/options-for-paying-off-your-debts">help and advice</a></p>

  <p><a href="overview" class="button">Finish</a></p>


</main>

{% endblock %}