
{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="notice polite">
    <h1 class="heading-xlarge">Offer rejected</h1>
  </div>  
   <h3 class="heading-medium">You've rejected a Budgeting Loan offer of £348 on 01/01/16</h3>

   <h3 class="heading-medium">If you’re unhappy with this decision</h3>
   <p>You can ask for a Budgeting Loan decision to be reviewed if you’re not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong. </p>
   <p>If you still think the decision was wrong after the review, you can ask for a further review by the office of the <a href="https://www.gov.uk/government/publications/budgeting-loans-how-to-ask-for-a-further-independent-review">Independent Case Examiner.</a> This review should take no longer than 21 working days.</p>
   
   <p><a href="overview" class="button">Finish</a></p>


</main>

{% endblock %}