{% extends "layout.html" %}

{% block page_title %}
  You&rsquo;re not eligible - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back-link.html" %}

      <h1 class="heading-large">You need more information to check your eligibility</h1>

      <div class="notice polite">

        <p>Contact <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> to find out what type of Employment and Support Allowance you or your partner get.</p>

      </div>{# /notice polite #}

      <h2 class="heading-medium">If you made a mistake</h2>

      <p>Make sure you have the correct information and <a href="overview-eligibility">check your eligibility again</a>.</p>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
  
</main>

{% endblock %}