

{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}

  <form method="post" class="form">

    <div class="grid-row">

      <div class="column-two-thirds">
        <a href="about-benefit-pension-credit" class="example-back-link">Back</a>

        <ul>
            <li>
              <fieldset class="inline form-group" id="income-support-container">
                <h1 class="form-title heading-large"><legend for="income-support">Do you get Income Support?</legend>
                </h1>
                <label class="block-label" data-target="income-support" for="income-support-1">
                  <input id="income-support-1" type="radio" name="income-support" value="Yes"
                    required
                    data-parsley-errors-container="#income-support-container"
                    data-parsley-class-handler="#income-support-container"
                    data-parsley-error-message="Select ‘Yes’ or ‘No’ to confirm whether you get Income Support"
                  >
                  Yes
                </label>
                <label class="block-label" for="income-support-2">
                  <input id="income-support-2" type="radio" name="income-support" value="No">
                  No
                </label>
              </fieldset>
            </li>
          </ul>

          <div class="js-hidden panel-indent" id="income-support">
            <div class="form-group">
              <fieldset class="inline form-group" id="is-how-long-container">
                <h1 class="form-title heading-medium"><legend for="is-how-long">Have you been getting Income Support for the past 6 months?</legend>
                </h1>
                <label class="block-label" data-target="is-how-long" for="is-how-long-1">
                  <input id="is-how-long-1" type="radio" name="is-how-long" value="Yes"
                    data-parsley-errors-container="#is-how-long-container"
                    data-parsley-class-handler="#is-how-long-container"
                    data-parsley-error-message="Select ‘Yes’ or ‘No’ to confirm whether you have been getting Income Support for over 6 months"
                  >
                  Yes
                </label>
                <label class="block-label" for="is-how-long-2">
                  <input id="is-how-long-2" type="radio" name="is-how-long" value="No">
                  No
                </label>
              </fieldset>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>


      </div>

      <div class="column-third">
        <p>&nbsp;</p>
      </div>

    </div>
  </form>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
