{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="what-youll-get" title="Part 2:  What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="eligibility" title="Part 3: Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. Overview</h1>
		    </header>
			<article>
				<p>You could get a Budgeting Loan to help pay for <a href="eligibility" title="Part 3: Eligibility">essential things</a> like furniture, clothes, moving costs or hire purchase debts. The smallest amount you can borrow is £100.</p>

				<p>Budgeting Loans are interest-free so you only pay back what you borrow. You normally have to repay the loan within 104 weeks.</p>

				<p>The repayments will come from your benefits. You’ll have to agree another way to repay if you stop getting benefits.</p>

				<p>You can apply for a loan if you’ve been getting <a href="eligibility" title="Part 3: Eligibility">income related benefits</a> for at least 26 weeks. You must still be getting income-related benefits when your application is assessed.</p>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="what-youll-get" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> What you'll get</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{% endblock %}
