{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Previous partner question</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We explain why we&rsquo;re asking a user about their previous partner</dd>
    <dt>Then:</dt>
    <dd>Users will feel more comfortable answering this question</dd>
    <dt>Because:</dt>
    <dd>Currently, some users don&rsquo;t understand why we need to know this</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/previous-partner/v1">Version 1</a></li>
  </ul>

</main>

{% endblock %}