{% extends "layout.html" %}

{% block page_title %}
  Outstanding Social Fund loans - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back-link.html" %}

      <form method="post" class="form">

        <h1 class="heading-large m-b-ml m-t-m">
          <span class="heading-secondary">
            Check your eligibility
          </span>
          Which type of Job Seeker&rsquo;s Allowance do you get?
        </h1>

        <p>Helper text explaining where they can find this - letter etc</p>

        <div class="form-group">

          <fieldset>

            <legend class="c-legend c-legend--medium m-b-s visually-hidden">Which type of Job Seeker&rsquo;s Allowance Allowance do you get?</legend>

            <label class="block-label" for="option1" data-target="income-related-panel">
              <input id="option1" type="radio" name="type" value="option1">
              <span class="heading-small">Income-related <abbr title="Job Seeker&rsquo;s Allowance Allowance">JSA</abbr></span><br>
              You may be getting this if you have not paid enough Class 1 National Insurance contributions, were self-employed or your contribution-based JSA has stopped
            </label>

            <div class="panel js-hidden m-b-l" id="income-related-panel">

              <fieldset>

                <legend class="c-legend c-legend--medium m-b-s">How long have you been getting income-related Job Seeker&rsquo;s Allowance?</legend>

                <label class="block-label" for="duration1">
                  <input id="duration1" type="radio" name="duration" value="duration1">
                  More than 6 months
                </label>

                <label class="block-label" for="duration2">
                  <input id="duration2" type="radio" name="duration" value="duration2" >
                  Less than 6 months
                </label>

              </fieldset>

            </div>{# / income-related-panel #}

            <label class="block-label" for="option2">
              <input id="option2" type="radio" name="type" value="option2" >
              <span class="heading-small">Contribution-based <abbr title="Job Seeker&rsquo;s Allowance Allowance">JSA</abbr></span><br>
              You may be getting this if you paid enough Class 1 National Insurance contributions when you were working
            </label>

            <label class="block-label" for="option3">
              <input id="option3" type="radio" name="type" value="option3" >
              Don&rsquo;t know
            </label>

          </fieldset>

        </div>{# / form-group #}

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>{# / form-group #}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}