{% extends "layout.html" %}

{% block page_title %}
    Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}
  
  <form action="eligibility02" method="#" class="form">

  <a href="apply" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Eligibility
  </h1>

  <ul>
    <li>
      <fieldset class="inline form-group">
        <legend class="form-label-bold add-padding" for="eligibility"><span>Have you, a partner or an ex-partner been getting one of the following benefits for the past 6 months?</span></legend>
        <ul class="list-bullet">
          <li>Income Support
          <li>Income-based Jobseeker's Allowance</li>
          <li>Income Related Employment Support Allowance</li>
          <li>Pension Credit</li>
        </ul>
        <label class="block-label" data-target="is-eligible" for="eligibility-1">
          <input id="eligibility-1" type="radio" name="eligibility" value="Yes">
          Yes
        </label>
        <label class="block-label" data-target="not-eligible" for="eligibility-2">
          <input id="eligibility-2" type="radio" name="eligibility" value="No">
          No
        </label>
      </fieldset>
    </li>
  </ul>

  <div class="js-hidden" id="not-eligible">
    <div class="panel-indent">
      <p>You are not eligible to apply for a Budgeting Loan.</p>
    </div>
    <div class="form-group">
      <a href="overview" class="button">Finish</a>
    </div>
  </div>
  
  <div class="js-hidden form-group" id="is-eligible">
    <input type="submit" class="button" value="Continue">
  </div>


</main><!-- / #page-container -->

{% endblock %}