{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="about-benefit" method="post" class="form">

  <a href="before-you-start" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    About your benefits
  </h1>

  <fieldset class="inline form-group">
    <legend class="form-label-bold" for="benefit">Have you been getting one of the following benefits for the past 6 months?</legend>
    <p class="form-hint">Income Support, Income-based Jobseeker's Allowance, Income Related Employment and Support Allowance or Pension Credit</p>
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="benefit" value="Yes">
      Yes
    </label>
    <label class="block-label" data-target="benefit-no" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="benefit" value="No">
      No
    </label>
  </fieldset>

  <div class="js-hidden" id="benefit-no">
    <div class="panel-indent">
      <p>You may not be eligible to apply for a budgeting loan.</p>
    </div>
  </div>

  <div class=" form-group" id="benefit-yes">
    <input type="submit" class="button" value="Continue">
  </div>

  

  </div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
