{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}
  
  <form action="partner" method="post" class="form">

  <a href="about-benefit" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    About a partner
  </h1>

  <fieldset class="inline form-group">
    <legend class="form-label-bold" for="partner">Do you currently have a partner?</legend>
    <p class="form-hint">A partner is a person you are married to or a person you live with as if you are married to them.</p>
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="partner" value="Yes">
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="partner" value="No">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>


</main><!-- / #page-container -->
{% endblock %}
