{% extends "layout.html" %}

{% block page_title %}
  Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

    <h1 class="heading-xlarge">Budgeting&nbsp;Loans</h1>

    <div class="grid-row rough--section-links">
      <div role="navigation" aria-label="parts to this guide">
        <div class="u-clearfix" role="listbox">

          <div class="column-half  u-m0 u-p0">
            <ol class="list list-number m-b-0" role="presentation">
              <li class="font-xsmall">
                How it works
              </li>
              <li class="font-xsmall">
                <a href="what-you-could-get" title="Part 2:  What you'll get">What you could get</a>
              </li>
            </ol>
          </div>

          <div class="column-half  u-m0 u-p0">
            <ol class="list list-number m-b-0" role="presentation" start="3">
              <li class="font-xsmall">
                <a href="check-eligibility" title="Part 3: Eligibility">Check your eligibility</a>
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>{# /rough--section-links #}

    <hr class="rough--section-links-divider">
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. How it works</h1>
		    </header>
			<article>
				<p>You can apply for a Budgeting Loan to help pay for:</p>

				<ul class="list list-bullet">
					<li>furniture or household items</li>
					<li>clothing or footwear</li>
					<li>rent in advance</li>
					<li>costs linked to moving house</li>
					<li>maintenance, security or improvements to your home</li>
					<li>travelling costs within the UK</li>
					<li>costs linked to getting a new job</li>
					<li>maternity costs</li>
					<li>funeral costs</li>
					<li>repaying hire purchase loans</li>
					<li>repaying loans taken for the above items</li>
				</ul>

				<p>A Budgeting Loan is interest-free so you only pay back what you borrow. The smallest amount you can borrow is £100. Loans are usually paid <a href="https://www.gov.uk/how-to-have-your-benefits-paid">into your account</a>, eg a bank account.</p>

				<p>You normally have to repay the loan within 104 weeks. The repayments will come from your benefits. You'll have to agree another way to repay if you stop getting benefits.</p>

		        <p>If you get Universal Credit, apply for a budgeting advance from <a href="https://www.gov.uk/contact-jobcentre-plus">your local Jobcentre Plus</a> instead.</p>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="what-you-could-get" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> What you could get</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{% endblock %}
