{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Savings</h1>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We provide a subsequent data capture field when a customer answers &lsquo;Yes&rsquo; to the savings question that asks for a total debt amount</dd>
    <dt>Then:</dt>
    <dd>Users can enter their full capital/savings amount</dd>
    <dt>Because:</dt>
    <dd>Users will find it less confusing not having to deduct the savings threshold when answering this question</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/savings/v1/savings-with-amount-capture">Version 1 (basic version with no additional text)</a></li>
    <li><a href="/sandpit/savings/v2/savings-with-amount-capture">Version 2 (exploring hint text)</a></li>
  <!--  <li><a href="/sandpit/savings/v2/savings-with-amount-capture-validation">Version 2 with validation</a></li> -->
  </ul>

</main>

{% endblock %}
