{% extends "layout.html" %}

{% block page_title %}
  Savings - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back-link.html" %}

      <form method="post" class="form">
        <div class="error-summary" role="group" style="display:none;">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            There's been a problem
          </h1>

          <p>
            Check the following:
          </p>

          <ul class="error-summary-list">
          </ul>
        </div>

        <h1 class="heading-large m-b-ml">
          Do you have savings of more than £1,000 (£2,000 if you&rsquo;re over 63)?
        </h1>
        <span class="form-hint">Include all money you have at home as well as in accounts and investments</span>
        <div class="form-group">
          <fieldset class="inline" data-required data-error="Choose yes or no">

            <legend class="visually-hidden">Do you have savings of more than £1,000 (£2,000 if you&rsquo;re over 63)?</legend>

            <details class="u-mb">

        <summary>Further information about savings</summary>

        <div class="panel panel-indent">

          <p>Savings means any capital you and your partner have, including any money you have at home, in the bank, in the building society or in a credit union account, premium bonds, investments, such as shares or unit trusts.</p>
          <p>The value of any property you or your partner own that you do not live in. For example, a house you let out, a holiday home, or somewhere another member of your family lives.</p>

        </div>
        </details>

            <label class="block-label" data-target="savings-amount" for="savings-1">
              <input id="savings-1" type="radio" name="choice" value="yes" >
              Yes
            </label>
            <label class="block-label" for="savings-2">
              <input id="savings-2" type="radio" name="choice" value="no" >
              No
            </label>

          </fieldset>

          <div class="panel panel-border-narrow js-hidden m-b-0" id="savings-amount">
              <label class="form-label m-b-xs" for="savings-amount">
                Enter your total savings amount
              </label>
              <input class="form-control form-control-1-8" type="text" id="savings-amount">
            </div>
        </div>{# / form-group #}

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>{# / form-group #}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}
