{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">V5 screens</h1>

  <ul class="list list-bullet">
    <li><a href="/sandpit/debt-repayments/v5/credit-store-cards">Flow</a></li>
    <li><a href="/sandpit/debt-repayments/v5/credit-store-cards">Credit and store cards</a></li>
    <li><a href="/sandpit/debt-repayments/v5/loans">Loans</a></li>
    <li><a href="/sandpit/debt-repayments/v5/rent-to-own">Rent to own</a></li>
    <li><a href="/sandpit/debt-repayments/v5/landlord-payments">Landlord debt</a></li>
  </ul>

</main>

{% endblock %}