{% extends "layout.html" %}

{% block page_title %}
  Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/back-link.html" %}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-ml">
          How would you like to receive the decision on your Budgeting&nbsp;Loan application?
        </h1>

        <p>By choosing &lsquo;email&rsquo;, you&rsquo;re able to accept an offer straight away online.</p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              How would you like to receive the decision on your Budgeting Loan application?
            </legend>

            <label class="block-label" for="radio-home-address" >
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              By post
            </label>

            <label class="block-label" for="radio-other-address" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              By email
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example-other-address">

              <div class="form-group form-group-compound">
                <label class="form-label" for="email">Your email address</label>
                <input class="form-control" type="text" id="email">
              </div>

            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}