{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Channel variations
  </h1>

  <h2 class="heading-medium">Example 1</h2>

  <ul class="list list-bullet">
    <li><a href="1-2">How would you like us to tell you your&nbsp;offer?</a></li>
    <li><a href="1-1">How would you like us to tell you your&nbsp;offer? (in context)</a></li>
  </ul>

  <h2 class="heading-medium">Example 2</h2>

  <ul class="list list-bullet">
    <li><a href="2-2">How would you like to receive the decision on your Budgeting&nbsp;Loan application?</a></li>
    <li><a href="2-1">How would you like to receive the decision on your Budgeting&nbsp;Loan application? (in context)</a></li>
  </ul>

</main>

{% endblock %}