{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main" style="max-width: 700px">

  <h1 class="heading-large">Eligibility start page</h1>

  <h2 class="heading-medium">Insight</h2>

  <p>People selectively read pages by focusing on common key words or phrases and retain/recall information based on their focus and people pick up additional information if they are given a chance to read the content again. </p>

  <p>People do not understand benefit entitlement sufficiently to make a correct decision about eligibility</p>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We separate the info about benefits and sums of money on the &lsquo;Check your eligibility&rsquo; start page</dd>
    <dt>Then:</dt>
    <dd>Users will have a better understanding about which benefits they need to be claiming</dd>
    <dt>Because:</dt>
    <dd>Users focus on the &lsquo;&pound;&rsquo;s</dd>
  </dl>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>Eligibility trigger words &amp; phrases are used when explaining eligibility</dd>
    <dt>Then:</dt>
    <dd>Users will retain information they don&rsquo;t currently understand</dd>
    <dt>Because:</dt>
    <dd>Eye tracking research revealed keywords that users focus on</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/gov-eligibility-2/v1">Version 1</a></li>
  </ul>

</main>

{% endblock %}