{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">Applying for someone else</h1>

  <p>As someone who is part of a couple claim I want to know that the person who is named on the primary benefit is the person who needs to make the claim, so that I do not waste my time completing and then request a paper form.</p>

  <h2 class="heading-small">Background:</h2>

  <p>Processing staff have been having issues with partners making a claim for a BL but this is a void application as it has to be the person who is in receipt of the benefit who makes the claim.</p>

  <p>Regulations that came into force in July 2015 state that an application can only be made on behalf of someone by another if the person who the application is being made on behalf on gives written consent for the person who is making the application to do so on their behalf or the person making the application on behalf of the other is someone appointed by the SoS to do so. Consent must be in writing.</p>

  <dl class="hypo">
    <dt>If:</dt>
    <dd>We ask a user whether they are applying on behalf of someone else</dd>
    <dt>Then:</dt>
    <dd>We will get fewer void applications</dd>
    <dt>Because:</dt>
    <dd>Users will know they need to obtain written consent before they can apply on behalf of someone else</dd>
  </dl>

  <ul class="list list-bullet">
    <li><a href="/sandpit/applying-for-someone-else/v1/">Version 1</a></li>
  </ul>

</main>

{% endblock %}