{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/beta-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  How it works">How it works</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility for people on benefits">Eligibility for people on benefits</a>
							</li>
							<li class="font-xsmall">
								3. <a href="what-youll-get" title="Part 3: What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: How to apply">How to apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="other-help" title="Part 5: Other help you can get">Other help you can get</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">4. How to apply</h1>
		    </header>
		    
			<article>
				<p>You can apply for a Budgeting Loan online</p>
				<p>Before you start, you’ll need to have details about your regular debt repayments, eg hire purchases or loans. You won’t need details of your normal living expenses like gas and electric charges or food bills.</p>

				<p>You can’t make an application if any of the following apply to you:</p>
				<ul class="list-bullet">
					<li>you owe more than a total of £1,500 for a Crisis Loan or Budgeting Loan (or for both combined)</li>
					<li>you or your partner have savings of more than £1,000 (£2,000 if either of you are over 61)</li>
					<li>you’re involved in a trade dispute, eg a strike or walkout</li>
				</ul>

				<p class="get-started">
					<a class="button button-get-started" href="before-you-start">Apply now</a>
				</p>

				<h2 class="heading-small">Questions about your claim</h2>
				<p>Contact Jobcentre Plus if you have any questions about your claim. Allow 15 working days after posting your form before contacting them - they may not have processed your claim before then.</p>

				<h2 class="heading-small">If you’re unhappy with a decision</h2>
				<p>You can ask for a Budgeting Loan decision to be reviewed if you're not happy with it. To do this, you must write to Jobcentre Plus within 28 days of the decision, explaining why you think it was wrong.</p>
				<p>If you still think the decision was wrong after the review, you can ask for a further review by the office of the <a href="https://www.gov.uk/government/publications/budgeting-loans-how-to-ask-for-a-further-independent-review">Independent Case Examiner.</a> This review should take no longer than 21 working days.</p>

				<h2 class="heading-small">Other ways to apply</h2>
				<p>You can download and fill in <a href="https://www.gov.uk/government/publications/budgeting-loan-claim-form"> form SF500.</a> Your claim can take up to 15 working days. Include your mobile phone number to get updates on its progress.</p>

				<p>Where to send your form</p>

				<p>Where you post your form depends on where you live.</p>

				<p>East Midlands, Yorkshire and Humberside, East Anglia and Essex</p>
				<p>FREEPOST RTGE-EUKR-TBSY<br>  
				   Wembley Benefit Centre<br>  
				   Mail Handling Site A<br>
				   Wolverhampton<br>
				   WV98 1HE</p>

				<p>West Midlands, South West England or Scotland</p>
				<p>Five Ways House Social Fund<br> 
				   Post Handling Site B<br>  
 				   Wolverhampton<br>
				   WV99 2FX</p>

				 <p>Other ways to get the form</p>
				 <p>You can get the claim form from your local Jobcentre Plus, or by post if you call the helpline (allow 5 working days).</p>  

				 <h2 class="heading-small">Jobcentre Plus</h2>
				 <p>Telephone: 0345 603 6967<br>      
				   Monday to Friday, 8am to 6pm<br>   
				   Find out about<a href="https://www.gov.uk/call-charges"> call charges</a></p>	

				 <p>You can also hand in a completed claim form to your local Jobcentre Plus, but your application will take longer to process.</p>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      						<a href="what-youll-get" rel="prev" title="Navigate to previous part">
      							<span class="pagination-label">Previous </span> <span class="pagination-part-title"> What you'll get</span>
      						</a>          
      					</li>
      					<li class="next">
            				<a href="other-help" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Other help you can get</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
