{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/beta-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  How it works">How it works</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility for people on benefits">Eligibility for people on benefits</a>
							</li>
							<li class="font-xsmall">
								3. <a href="what-youll-get" title="Part 3: What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: How to apply">How to apply apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="other-help" title="Part 5: Other help you can get">Other help you can get</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">2. Eligibility for people on benefits</h1>
		    </header>
			<article>
				<p>To qualify for a Budgeting Loan you or your partner must have been getting one of these benefits for at least 26 weeks:</p>
				<ul class="list-bullet">
					<li>Income Support</li>
					<li>income-based Jobseeker's Allowance</li>
					<li>income-related Employment and Support Allowance</li>
					<li>Pension Credit </li>
				</ul>
				<p>You must still be getting one of these benefits when your application is assessed.</p>
				
				<p>If you’re on Universal Credit, you can’t get a Budgeting Loan. You could apply for a Budgeting Advance instead.</p>

				<div>
					<h2 class="heading-small">What can a loan pay for</h2>
				</div>	
				<p>Budgeting Loans can help you pay for:</p>

				<ul class="list-bullet">
					<li>furniture or household equipment</li>
					<li>clothing or footwear</li>
					<li>rent in advance when you find a new place to live</li>
					<li>removal expenses when you move home</li>
					<li>travelling expenses</li>
					<li>things to help you look for or start work</li>
					<li>improving, maintaining or securing your home</li>
					<li>maternity or funeral expenses</li>
					<li>repaying hire purchase or other debts you took out to pay for any of the above</li>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      						<a href="overview" rel="prev" title="Navigate to previous part">
      							<span class="pagination-label">Previous </span> <span class="pagination-part-title"> How it works</span>
      						</a>          
      					</li>
          				<li class="next">
            				<a href="what-youll-get" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> What you'll get</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
