{{<layout}}

{{$pageTitle}}Apply for a Budgeting Loan{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/beta-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Budgeting Loans
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  How it works">How it works</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility for people on benefits">Eligibility for people on benefits</a>
							</li>
							<li class="font-xsmall">
								3. <a href="what-youll-get" title="Part 3: What you'll get">What you'll get</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: How to apply">How to apply apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="other-help" title="Part 5: Other help you can get">Other help you can get</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. How it works</h1>
		    </header>
			<article>
				<p>Budgeting Loans for people on benefits can help pay for <a href="eligibility" title="Part 3: Eligibility">essential things</a> like furniture, clothes, moving costs or hire purchase debts. The smallest amount you can borrow is £100.</p>

				<p>You can apply for a Budgeting Loan if you’ve been on certain <a href="eligibility" title="Part 3: Eligibility">income related benefits</a> for at least 26 weeks. You must still be getting these benefits when your application is assessed.
				</p>
				
				<p>Budgeting Loans are interest-free so you only pay back what you borrow. You normally have to repay the loan within 104 weeks. The repayments will come from your benefits. You’ll have to agree another way to repay if you stop getting benefits. </p>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="eligibility" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Eligibility for people on benefits</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}