{% extends "layout_unbranded.html" %}

{% block page_title %}
  Savings question
{% endblock %}

{% block content %}

<main id="content" role="main" class="single-column">

  <h1 class="heading-large">
    Savings question
  </h1>

  <p>Savings question would come after we ask for info about their partner and also after we ask for their date of birth (probably the last screen before declaration). We&rsquo;ll then know how old they are and whether we need to include info about their partner&rsquo;s savings.</p>

  <hr>

  <ul class="list list-bullet">
    <li><a href="/sandpit/savings/v3/savings-under63-single">Single - under 63</a></li>
    <li><a href="/sandpit/savings/v3/savings-over63-single">Single - over 63</a></li>
    <li><a href="/sandpit/savings/v3/savings-under63-partner">With partner - under 63</a></li>
    <li><a href="/sandpit/savings/v3/savings-over63-partner">With partner - over 63</a></li>
  </ul>

</main>

{% endblock %}