{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">GOV.UK content comparison</h1>

  <ul class="list list-bullet">
    <li><a href="/sandpit/gov-eligibility/v1/overview">Version 1 - current GDS implementation with 5 parts</a></li>
    <li><a href="/sandpit/gov-eligibility/v2/how-it-works">Version 2 - reworked with 3 parts</a></li>
  </ul>

</main>

{% endblock %}