{{<layout}}

{{$pageTitle}}
	Budgeting Loans
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Budgeting Loans</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Prototypes </h2>

	<ul class="list-bullet">
		<li>
			<a href="/alpha01/overview">Alpha 01 Demo</a>
		</li>
		<li>
			<a href="/alpha02/overview">Alpha 02 Demo</a>
		</li>
		<li>
			<a href="/alpha03/overview">Alpha 03 Demo</a>
		</li>
	</ul>

	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
