{% extends "layout.html" %}

{% block page_title %}
    Apply for a Budgeting Loan
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a Budgeting Loan</h1>
  <!-- feel free to change this page to suit your needs -->

  <div class="grid-row">

    <div class="column-half">

      <h2 class="heading-medium">Beta Prototypes</h2>

  		<ul class="list-bullet list">
  			<li>
  				<a href="/beta06/start-overview">Beta 06 (work in progress)</a>
  			</li>
  			<li>
  				<a href="/beta05_validation/overview">Beta 05 Demo</a>
  			</li>
  			<li>
  				<a href="/beta04/overview">Beta 04 Demo</a>
  			</li>
  			<li>
  				<a href="/beta03/overview">Beta 03 Demo</a>
  			</li>
  			<li>
  				<a href="/beta02/overview">Beta 02 Demo</a>
  			</li>
  			<li>
  				<a href="/beta01/overview">Beta 01 Demo</a>
  			</li>
  		</ul>

      <h2 class="heading-medium">Currently testing</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/sandpit/gov-eligibility">GOV UK screens - eligibility version</a>
        </li>
      </ul>

      <h2 class="heading-medium">Design review</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/design-review/">Design review (12 April 2016)</a>
        </li>
      </ul>

      <h2 class="heading-medium">Loan offer</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/sandpit/loan-offer/version-1/">Version 1</a>
        </li>
        <li>
          <a href="/sandpit/loan-offer/version-2/">Version 2</a>
        </li>
        <li>
          <a href="/sandpit/loan-offer/channel/">Channel question exploration</a>
        </li>
      </ul>

      <h2 class="heading-medium">Validation styles</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/validation-styles/">Validation styles for visual reference</a>
        </li>
      </ul>

      <h2 class="heading-medium">Debt repayments</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/sandpit/debt-repayments">Debt repayments versions</a>
        </li>
      </ul> 

      <h2 class="heading-medium">New ideas</h2>

      <ul class="list-bullet list">
        
        <li>
          <a href="/sandpit/accessible-pagination">Accessible pagination</a>
        </li>
        <li>
          <a href="/sandpit/contact-details-question">Contact details question</a>
        </li>
        <li>
          <a href="/sandpit/masthead-label-variations">Masthead label variations</a>
        </li>
        <li>
          <a href="/sandpit/gov-eligibility-2">Eligibility start page content updates</a>
        </li>
        <li>
          <a href="/sandpit/previous-partner">Your previous partner question</a>
        </li>
        <li>
          <a href="/sandpit/what-happens-next">What happens next</a>
        </li>
        <li>
          <a href="/sandpit/current-benefits-question">Current benefits question</a>
        </li>
      </ul>

      

      

  	<!-- <h2 class="heading-small">Alpha Prototypes </h2>

  		<ul class="list-bullet list">
  			<li>
  				<a href="/alpha01/overview">Alpha 01 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha02/overview">Alpha 02 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha03/overview">Alpha 03 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha04/overview">Alpha 04 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha05/overview">Alpha 05 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha06/overview">Alpha 06 Demo</a>
  			</li>
  			<li>
  				<a href="/alpha07/overview">Alpha 07 Demo</a>
  		    </li>	
  		</ul> -->

    </div>

    <div class="column-half">

      <h2 class="heading-medium">MVP</h2>

      <ul class="list-bullet list">
        <li>
          <a href="/MVPv02/overview">MVP</a>
        </li>
        <li>
          <a href="https://budgeting-loans-dev.itsbeta.net/steps/overview">Development</a></li>
      </ul>

      <h2 class="heading-medium">Eligibility Flows</h2>
      
      <ul class="list-bullet list">
        <li>
          <a href="/eligibility-v5/overview">Eligibility Version 5</a>
        </li>
        <li>
          <a href="/eligibility-v4/overview">Eligibility Version 4</a>
        </li>
        <li>
          <a href="/eligibility-v3/overview">Eligibility Version 3</a>
        </li>
        <li>
          <a href="/eligibilityV2/overview">Eligibility Version 2</a>
        </li> 
        <li>
          <a href="/eligibilityV1/overview">Eligibility Version 1</a>
        </li> 
      </ul>

      <h2 class="heading-medium">Resources</h2>

      <ul class="list-bullet list">
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
            GOV.UK kit documentation
          </a>
        </li>
        <li>
          <a href="http://govuk-elements.herokuapp.com/snippets/">
            Guide to GOV.UK elements HTML
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/service-manual">
            Service design manual
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/design-principles">
            Government Digital Service Design Principles
          </a>
        </li>
      </ul>

    </div>

  </div>

</main>

{% endblock %}