{{<layout}}

{{$pageTitle}}Budgeting Loans{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="your-children02" method="#" class="form">

  <a href="before-you-start" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    About a partner
  </h1>

  <fieldset class="inline form-group">
    <legend class="form-label-bold" for="partner">Do you currently have a partner?</legend>
    <p class="form-hint">A partner is someone you are married to, a civil partner or someone you are living with as though you are married or in a civil partnership.</p>
    <label class="block-label" data-target="partner-yes" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="partner" value="Yes">
      Yes
    </label>
    <label class="block-label" data-target="partner-no" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="partner" value="No">
      No
    </label>
  </fieldset>

  <div class="form-group">
      <input type="submit" class="button" value="Continue"> 
    </div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
